<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="top-bar flex padded">
        <img src=<%= require('@/assets/images/boss/logo.png') %> alt="">
        <form action="" class="flex">
          <input type="text" placeholder="搜索职位" />
          <button type="button" class="search-icon"></button>
        </form>
      </div>

      <div class="job-info padded">
        <div class="title flex">
          <span>JAVA</span>
          <span class="salary">15 ~ 20K</span>
        </div>
        <div class="props flex">
          <div class="items flex">上海 <i></i> 1 - 3 年 <i></i> 不限</div>
          <p>发布于 2019年5月27日</p>
        </div>

        <div class="tags">
          <span>Vue</span>
          <span>React</span>
          <span>Java</span>
        </div>
      </div>

      <div class="user-info flex padded">
        <img src=<%= require('@/assets/images/boss/avatar.png') %> alt="">

        <div class="info">
          <div class="name flex">
            <span>柯基</span>
            <span class="like">
              <i></i>
              感兴趣
            </span>
          </div>

          <div class="desc">TCL集团·软件工程师</div>
        </div>

        <button class="btn">立即沟通</button>
      </div>

      <div class="job-detail padded">
        <h3>职位描述</h3>

        <div class="text">
          1、熟悉前后端分离的技术架构，Java基础知识扎实，良好的编码习惯，逻辑思维清晰；<br />2、熟练使用Spring
          boot、Spring Cloud、Mybatis等主流开源框架；<br />3、熟练使用Junit单元测试框架；<br />4、熟悉设计模式，能够在开发中灵活运用常见的设计模式；<br />5、熟悉基于Git、Maven等工具的团队协作开发过程；<br />6、熟练使用MySQL数据库、熟悉消息队列、缓存等，掌握常用的性能优化技巧；<br />7、熟练Tomcat／nginx优化等；<br />8、熟悉敏捷开发模式，CI工具，自动化部署工具等；<br />良好的沟通、组织协调能力和强烈的责任心，具备较强的分析和解决问题的能力。
        </div>

        <h3>团队介绍</h3>
        <div class="tags">
          <span>公司氛围好</span>
          <span>不打卡</span>
          <span>领导nice</span>
        </div>

        <h3>公司介绍</h3>
        <div class="text">
          华润（集团）有限公司（以下简称“华润”或“华润集团”）是一家在香港注册和运营的多元化控股企业集团，其前身是1938年于香港成立的“联和行”，1948年改组更名为华润公司，1952年隶属关系由中共中央办公厅变更为中央贸易部（现为商
        </div>

        <h3>工商信息</h3>
        <div class="text">
          <p>
            润联软件系统（深圳）有限公司
          </p>

          <table>
            <tr>
              <th>法人代表：</th>
              <td>王佩辉</td>
              <th>注册资本：</th>
              <td>(香港元)13000万元</td>
            </tr>

            <tr>
              <th>法人代表：</th>
              <td>王佩辉</td>
              <th>注册资本：</th>
              <td>(香港元)13000万元</td>
            </tr>
          </table>

          <p class="grey">
            <small>
              数据来源：企查查
            </small>
          </p>
        </div>

        <h3>工作地址</h3>
        <div class="map"></div>
      </div>

      <div class="company-info flex padded">
        <img src=<%= require('@/assets/images/boss/company-logo.png') %> alt="">

        <div class="info">
          <div class="name flex">
            <span>华润集团信息管理部</span>
            <button class="btn">关注该公司</button>
          </div>

          <div class="desc">润联软件系统（深圳）有限公司</div>

          <div class="tags flex">计算机软件 <i></i> 不需要融资 <i></i> 10000人以上</div>
        </div>
      </div>

      <div class="related-jobs padded">
        <h3>相似职位</h3>

        <ul>
          <li>
            <a href="" class="flex">
              <img src=<%= require('@/assets/images/boss/company-logo.png') %> alt="">
              <div class="text">
                <h4 class="flex">高级PHP工程师 <span class="salary">15 ~ 20K</span></h4>
                <div class="flex">
                  <div class="company">
                    华为技术有限公司·深圳
                  </div>

                  <button class="btn" type="button">立即沟通</button>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a href="" class="flex">
              <img src=<%= require('@/assets/images/boss/company-logo.png') %> alt="">
              <div class="text">
                <h4 class="flex">高级PHP工程师 <span class="salary">15 ~ 20K</span></h4>
                <div class="flex">
                  <div class="company">
                    华为技术有限公司·深圳
                  </div>

                  <button class="btn" type="button">立即沟通</button>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a href="" class="flex">
              <img src=<%= require('@/assets/images/boss/company-logo.png') %> alt="">
              <div class="text">
                <h4 class="flex">高级PHP工程师 <span class="salary">15 ~ 20K</span></h4>
                <div class="flex">
                  <div class="company">
                    华为技术有限公司·深圳
                  </div>

                  <button class="btn" type="button">立即沟通</button>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a href="" class="flex">
              <img src=<%= require('@/assets/images/boss/company-logo.png') %> alt="">
              <div class="text">
                <h4 class="flex">高级PHP工程师 <span class="salary">15 ~ 20K</span></h4>
                <div class="flex">
                  <div class="company">
                    华为技术有限公司·深圳
                  </div>

                  <button class="btn" type="button">立即沟通</button>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a href="" class="flex">
              <img src=<%= require('@/assets/images/boss/company-logo.png') %> alt="">
              <div class="text">
                <h4 class="flex">高级PHP工程师 <span class="salary">15 ~ 20K</span></h4>
                <div class="flex">
                  <div class="company">
                    华为技术有限公司·深圳
                  </div>

                  <button class="btn" type="button">立即沟通</button>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="related-companies padded">
        <h3>推荐公司</h3>

        <div class="tags">
          <a href="">扬子电源有限公司</a>
          <a href="">天雷文化传媒</a>
          <a href="">满获资本</a>
          <a href="">满获资本</a>
          <a href="">扬子电源有限公司</a>
          <a href="">天雷文化传媒</a>
          <a href="">满获资本</a>
          <a href="">满获资本</a>
        </div>
      </div>

      <div class="job-footer breadcrumb-nav">
        <a href="">首页</a><i></i> <a href="">深圳招聘</a><i></i> <a href="">深圳Java招聘</a><i></i>
        <a href="">华润集团信息管理部Java招聘</a>
      </div>
    </div>
  </body>
</html>
