
.home-header
  background url('../../assets/images/boss/home-bg.png') no-repeat
  background-size 100% auto
  text-align center
  padding-bottom 1rem

  > img
    width 67%
    margin 2.3rem

  form
    background #fff
    width 92%
    margin 0 auto
    line-height 2.2rem
    border-radius 2rem

    input
      width 75%
      font-size 0.85rem
      color #aaa
      border none
      outline none

    button
      font-size 0.9rem
      color #5bd4c7
      font-weight lighter
      border none
      background none
      outline none

.home-categories
  padding 0 1rem

  dl
    margin 1rem 0

    dt
      display flex
      align-items center

      img
        height 3rem
        margin-right 1rem

    dd
      margin 0 -0.4rem

      .tag
        display inline-block
        background #f5f8f9
        color #7e8793
        padding 0.5rem 1rem
        border-radius 2rem
        margin 0.2rem 0.4rem
        font-size 0.8rem

.home-footer
  width 70%
  margin 0 auto
  font-size 0.75rem

  p
    margin 0.2rem 0